### Imports

In [16]:
import json
from pathlib import Path
import pandas as pd

### Load input data

In [22]:
data_path = Path("data") / "technology_data.json"

with data_path.open("r", encoding="utf-8") as f:
    technology_data = json.load(f)

TECHNOLOGY_UNITS = technology_data["TECHNOLOGY_UNITS"]  
TECHNOLOGY_DATA = technology_data["TECHNOLOGY_DATA"]

df_units = pd.DataFrame(list(TECHNOLOGY_UNITS.items()), columns=["Parameter", "Unit"])
df_tech = pd.DataFrame(TECHNOLOGY_DATA).reset_index().rename(columns={"index": "parameter"})
df = df_units.merge(df_tech, left_on="Parameter", right_on="parameter", how="right").drop(columns=["parameter"])
df

,Parameter,Unit,Gas turbine (simple cycle),Natural gas engine plant,Diesel engine farm,OCGT - Natural gas,Coal power plant,Nuclear power plant,Onshore wind,Offshore wind (fixed),Utility-scale PV
0,nominal_investment_total,MEUR/MW_el,0.600,0.50,0.36,0.47,2.10,4.000,1.150,2.390,0.38
1,fixed_om_total,EUR/MW/year,19778.730,6646.08,8983.37,8236.12,34324.40,147700.000,16663.000,34000.000,9500.00
2,variable_om_total,EUR/MWh,4.470,6.38,6.38,4.79,3.21,20.000,1.980,3.450,0.50
3,elec_eff,fraction (0-1),0.410,0.48,0.35,0.41,0.52,0.360,0.410,0.520,0.16
4,technical_lifetime,years,25.000,25.00,25.00,25.00,25.00,60.000,30.000,30.000,35.00
5,construction_time,years,1.500,1.00,1.00,0.20,4.50,8.000,1.500,3.500,0.50
6,total_outage,fraction of time (0-1),0.025,0.01,0.01,0.01,0.00,0.001,0.023,0.025,NaN